<div class="container">
  <div class="row">
    <table class="table table-bordered table-striped table-hover">
      <thead class="tabletitle">
        <tr>
          <td>Codigo Usuario</td>
          <td>Nombre/s</td>
          <td>Apellido/s</td>
          <td>Celular</td>
          <td>Correo</td>
          <td>Especialidad</td>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let profesional of profesional">
            <td>{{profesional.cod_prof}}</td>
            <td>{{profesional.nombre_prof}}</td>
            <td>{{profesional.apellido_prof}}</td>
            <td>{{profesional.celular_prof}}</td>
            <td>{{profesional.correo_prof}}</td>
            <td>{{profesional.cod_especialidad}}</td>
            <td>
              <button type="button" class="btn btn-warning" [routerLink]="['profesional/editor', profesional.cod_prof]">Modificar</button>
              <button type="button" class="btn btn-danger" (click)="delete(profesional.cod_prof)">Eliminar</button>
            </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
