.formtitle {
  text-align: center;
  padding-bottom: 20px;
}

.col-form-label {
  margin-left: 15px;
}

.ingressform {
  width: 725px;
  max-width: 100%;
  margin: auto;
  margin-top: 70px;
  padding: 12px;
  background-color: rgba(0,163,200, 0.25);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  position: relative;
}

.submitbtn {
  text-align: center;
}

.btnsubmit {
  min-width: 450px;
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bolder;
  padding: 5px;
  background: rgba(40,167,69,0.6);
  border-radius: 7px;
  margin-bottom: 30px;
  width: 50%;
  transition: 0.5s;
}

.btnsubmit:hover {
  background: rgba(40,167,69,1);
  transition: 0.5s;
  border-radius: 3px;
}
